include requirements.txt
include README.md
include README_zh.md
include LICENSE
include multi_model_rag/py.typed
recursive-include multi_model_rag *.py
recursive-include examples *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.egg-info
